@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@800&family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    background-color: rgb(15, 15, 37);
    position: relative;
}
.navbar .navbar-brand {
    color: white !important;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    font-family: 'Kanit', sans-serif; 
    font-weight: 500;
    font-size: 35px;
}
.navbar .navbar-brand:hover{
    color: orange !important;
}
.navbar .navbar-brand img{
    width: 50px;
    height: 50px;
    background-color: lightgoldenrodyellow;
   
}
  
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none; 
}
#basic-navbar-nav{
    text-align: center;
    /* align-items: center; */
    justify-content: space-around;
    justify-items: center;
    margin-top: 0%;
    padding-left: 40%;
  }
.navbar a {
    color: white !important; 
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    font-size: 25px;
    margin-left: 30px;
}
.navbar a:hover{
    color: lime !important;
}
.navbar a.active {
    color: lime !important;
}

#Button{
    width: 100px;
    height: 40px;
    text-align: center;
    color: orange !important;
    background-color:  black;
    border: 1.5px solid orange;
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
} 
#Button::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent,orange, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}
#Button:hover{
    background: transparent;
    box-shadow: 0 0 20px 5px orange;
    background-color:  black;
    border: 1.5px solid orange;
    color: aliceblue !important;
}
#Button:hover::before {
    transform: translateX(100%);
}

/* product page */
#product{
  background-color: rgb(9, 9, 44);
  color: white;
  width: 100%;
}
#product .row h3{
  padding-top: 180px;
  align-items: center;
  text-align: center;
  font-size: 15px;
}
#product .row h1{
  align-items: center;
  text-align: center;
  font-size: 70px;
}
#product .row h2{
  margin-top: 0;
  align-items: center;
  text-align: center;
  font-size: 15px;
}
#product .row #button1{
  align-items: center;
  text-align: center;
  width: 300px;
    height: 50px;
    color: black !important;
    background-color: white ;
    border: 1.5px solid orange;
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    margin-left: 500px;
}
#product  #button1:hover{
  color: orange !important;
  background-color: aqua;
}
#product  #button2:hover{
  color: orange !important;
  background-color: aqua;
}
#product .row #button2{
  align-items: center;
  text-align: center;
  width: 300px;
    height: 50px;
    color: black !important;
    background-color: white ;
    border: 1.5px solid orange;
    font-family: 'Kanit', sans-serif; 
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    margin-left: 50px;
}
#product .row2 img {
 height: 400px;
  width: 100%;
  margin-top: 100px;
 
}
#product .row3 {
 display: flex;
 margin-top: 20px;
}
#product .row3 .a{
margin-left: 70px;
font-size: 40px;
}
#product .row3 .b{
  margin-left: 60px;
  font-size: 40px;
}
#product .row3 .c{
  margin-left: 60px;
  font-size: 40px;
}
#product .row3 .d{
  margin-left: 60px;
  font-size: 40px;
}
#product .row3 .e{
  margin-left: 60px;
  font-size: 40px;
}
#product .row3 .f{
  margin-left: 60px;
  font-size: 40px;
}